VITE_SUPABASE_URL=https://twdruhhhnsbrpyzlfxmg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR3ZHJ1aGhobnNicnB5emxmeG1nIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4MjcxMjMsImV4cCI6MjA5MDQwMzEyM30.plQXdnJ0yWnZIZBLgQDGvQEhnhT9ePc6v_Z-jTjIfRc
VITE_TURNSTILE_SITE_KEY=0x4AAAAAACzs-Ptc8Uvzl_fI